body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.9;
}
.app__right{
  display: flex;
  flex-direction: column;
}
.MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph{
  flex-grow: 1;
}
.app__graphTitle{
  margin: 15px 0;
}
/* HEADER */
.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app__header > h2{
  color: #fc3c3c;
  font-size: 2rem;
}

/* STATS */
.app__stats {
  display: flex;
  justify-content: space-between;
}
.infoBox{
  flex: 1;
  cursor: pointer;
}
.infoBox:not(:last-child){
  margin-right: 15px;
}
.infoBox--selected{
  border-top: 10px solid greenyellow;
}
.infoBox--red{
  border-color: red;
}
.infoBox__cases{
  color: #cc1034;
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  margin-bottom: .5rem !important;
}
.infoBox__cases--green{
  color: lightgreen;
}
.infoBox__total{
  color: #6c757d;
  font-weight: 700 !important;
  font-size: .8rem !important;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

/* TABLE */
.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table td {
  padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

/* MAP */
.map {
  height: 500px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}
.map .leaflet-container{
    height: 100%;
}

.info-container{
  width: 150px;
}
.info-flag{
  height: 80px;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
}
.info-name{
  font-size: 20px;
  font-weight: bold;
  color: #555;
}
.info-cases, .info-recovered, .info-deaths{
  font-size: 14px;
  margin-top: 5px;
}